[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/ikubaku/pelican-plugins.git
	branch = force-utf8
[submodule "theme/nest"]
	path = theme/nest
	url = https://github.com/ikubaku/nest.git
	branch = master
